<div class="container">
    <div class="row" id="app-body">
        <div class="col-md-4 column" (click)="SayToast()">
            <h4>Click to see some message :)</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar at tortor non tristique. Mauris ultricies semper nunc sit amet pulvinar. Sed congue ligula quis fringilla eleifend. Proin condimentum, ligula in posuere varius, arcu neque pulvinar
                sem, non tincidunt ipsum ipsum eu felis. Proin maximus gravida orci, ut elementum mi feugiat eu. Duis arcu lorem, lacinia nec tempus ut, laoreet eu ligula. Phasellus et dui eleifend, bibendum quam et, dignissim lacus. Nunc sed venenatis
                ipsum.
            </p>
        </div>
        <div class="col-md-4" (click)="SayWarning()">
            <h4>Push this one to have a nice warning</h4>
            <p>
                Nam gravida mollis pulvinar. Vestibulum et quam magna. Aenean malesuada eros in magna dignissim feugiat. Mauris non turpis ultrices, gravida purus non, vulputate nisl. Phasellus ac sapien et dolor fermentum vulputate. Donec dignissim velit nec ultricies
                congue. Maecenas a consectetur mi, quis vestibulum urna. Integer ut fringilla ligula, sed faucibus dolor. Pellentesque eu eros a dolor porttitor efficitur at eget dui. Vestibulum orci nunc, ullamcorper a felis tempus, euismod lacinia nisi.
                Fusce cursus sit amet tortor at ultricies. Praesent ultricies magna at nulla faucibus lobortis.
            </p>
        </div>
        <div class="col-md-4" (click)="SayError()">
            <h4>Don't ever click this one ;)</h4>
            <p>
                Nam rutrum quis libero sed pellentesque. Vestibulum sed risus ligula. Praesent quis tempus urna. Duis massa odio, imperdiet et nisl ut, porta auctor turpis. Aenean elementum nec lacus a commodo. In hac habitasse platea dictumst. Sed aliquam sem at justo
                finibus egestas.
            </p>
        </div>
    </div>

    <hr />

    <collapsible groupName="group1">
        <!-- <collapsible-item *ngFor="let t of articles" title="{{t.Title}}">{{t.Text}}</collapsible-item> -->
        <collapsible-item title="First paragraph" text="Lorem ipsum dolor sit amet">Lorem ipsum</collapsible-item>
        <collapsible-item title="Second">Some text</collapsible-item>
        <collapsible-item title="Third">Other text for testing</collapsible-item>
    </collapsible>
    <hr />
    <!-- <collapsible groupName="bela">
        <collapsible-item *ngFor="let t of articles" title="{{t.Title}}">{{t.Text}}</collapsible-item>
    </collapsible>
    <hr />
    <collapsible groupName="sanyi">
        <collapsible-item *ngFor="let t of articles" title="{{t.Title}}">{{t.Text}}</collapsible-item>
    </collapsible> -->

</div>