@page "/gitapisearch"

@using Test2.Data
@inject ICognitiveSearchService Searcher;

<h1>Git Api Search</h1>

<p>This component demonstrates searching in Azure Cognitive Search</p>

<section class="container">

    <div class="row">
        <button class="btn btn-dark mr-5" @onclick="UpdateIndex">Update index</button>

        <input type="text" id="search-term" class="mr-2" @bind="SearchTermValue" @onfocus="DeleteText" />
        <button class="btn btn-dark" @onclick="Search">Go!</button>
    </div>

    <section class="row">
        @if( SearchResults != null )
        {
            @foreach (var searchResult in SearchResults)
            {
                <label class="mt-2 border-bottom">@searchResult.key</label>
            }
        }
    </section>
</section>

@code {

    private string SearchTermValue = "search..";
    private IEnumerable<GitApiModel> SearchResults;

    private void Search(MouseEventArgs e)
    {
        SearchResults = Searcher.Search(SearchTermValue);
        StateHasChanged();
    }

    private async Task UpdateIndex()
    {
        await Searcher.UpdateIndex();
    }

    private void DeleteText()
    {
        SearchTermValue = "";
    }

}
