/* <sticky-menu> */
.sticky-menu{    
    padding:1rem;
    width:100%;
    height:80px;
    transition:all 0.7s;
}

.sticky-menu.affix{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
    border-bottom:1px solid black;
    background-color:rgba(140,140,140, 0.5);
}
/* </sticky-menu> */

/* <side-menu> */
.side-menu{
    position:fixed;
    width:400px;
    top:30%;
    left:-250px;
    z-index:9;
    opacity:0.5;
    padding:15px;
    transition:all 0.5s;
}
/* </side-menu> */

/* <hidden-menu> */
.hidden-menu{    
    position:fixed;
    right:-31%;
    width:35%;
    height:100%;
    top:0%;
    font-size:18px;
    transition:all 0.5s;
    color:rgb(169, 16, 43);
    background-color:rgba(255, 255, 255, 0);
    padding-top:0.5rem;
    z-index:11;
}

.hidden-menu span{
    font-size:24px;
}
/* </hidden-menu> */