tab-control ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

tab-control ul li {
    float: left;
    list-style: none;
    padding: 10px;
    cursor: default;
}

tab [selected=true] {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(154, 56, 10);
    font-weight: bold;
}

.selected {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(154, 56, 10);
    font-weight: bold;
}