<html>
<head>
	<style>
		.container {
			background-color: lightgrey;
		}

		.column {
			margin-left: 3px;
			margin-right: 3px;
    		float: left;
			max-width: 33%;
		}

		.box {
			margin-bottom: 6px;
			width: 100%; 
		}

		.box1 {
			height: 200px;
			width: 350px;
			background-color: green;
		}
		
		.box2 {
			height: 300px;
			width: 350px;
			background-color: red;
		}
		
		.box3 {
			height: 400px;
			width: 280px;
			background-color: blue;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="column">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
		</div>

		<div class="column">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
		</div>

		<div class="column">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
			<img src="../test-images/landscape_240x180.png">
		</div>
	</div>
</body>
</html>