.gift-registration-section {
	text-align: center;
	.gif-registration-slider {
	  margin-top: 55px;
	  .register {
		border: 1px solid #111;
		padding: 20px;
		img {
		  width: auto;
		  max-width: 100%;
		}
	  }
	}
  }
  
  @media (max-width: 767px) {
	.gift-registration-section .gif-registration-slider {
	  margin-top: 45px;
	}
  }