.story-section {
	.story-timeline {
	  position: relative;
	  &:after {
		content: "";
		background: rgba(94, 154, 142, 0.1);
		width: 2px;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 0;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	  }
	  > .row {
		position: relative;
		.horizontal-line {
		  background: rgba(94, 154, 142, 0.1);
		  width: 70%;
		  height: 1px;
		  position: absolute;
		  left: 50%;
		  top: 0;
		  -webkit-transform: translateX(-50%);
		  -moz-transform: translateX(-50%);
		  -o-transform: translateX(-50%);
		  -ms-transform: translateX(-50%);
		  transform: translateX(-50%);
		}
		+ .row {
		  margin-top: 50px;
		  padding-top: 15px;
		}
		> .col {
		  &:first-child {
			padding: 0 45px 0 100px;
		  }
		  &:last-child {
			padding: 0 100px 0 45px;
		  }
		}
	  }
	  .text-holder {
		border-top: 1px solid rgba(94, 154, 142, 0.1);
		padding-top: 45px !important;
		position: relative;
		.heart {
		  background-color: #9cc2bb;
		  width: 43px;
		  height: 43px;
		  line-height: 41px;
		  text-align: center;
		  border: 2px solid rgba(94, 154, 142, 0.5);
		  position: absolute;
		  left: -22px;
		  top: -22px;
		  -webkit-border-radius: 50%;
		  -moz-border-radius: 50%;
		  -o-border-radius: 50%;
		  -ms-border-radius: 50%;
		  border-radius: 50%;
		  z-index: 10;
		}
		.fa {
		  color: #fff;
		}
	  }
	  .right-heart .heart {
		left: auto;
		right: -22px;
	  }
	  h3 {
		font-size: 22px;
		font-size: 1.22222rem;
		font-weight: 600;
		color: #5e9a8e;
		margin: 0 0 0.5em;
		text-transform: uppercase;
	  }
	  .date {
		font-size: 14px;
		font-size: 0.77778rem;
		font-weight: 600;
		display: block;
		margin-bottom: 15px;
	  }
	  img {
		display: inline-block;
	  }
	}
	.video-holder {
	  position: relative;
	  .video-play-btn {
		background: rgba(255, 255, 255, 0.8);
		width: 60px;
		height: 60px;
		line-height: 57px;
		text-align: center;
		font-size: 25px;
		font-size: 1.38889rem;
		border: 2px solid #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		i {
		  color: #5e9a8e;
		}
	  }
	}
	.story-timeline .story-slider .owl-controls {
	  display: none;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline:after {
	  display: none;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline > .row + .row {
	  padding-top: 0;
	}
  }
  
  @media (max-width: 1199px) {
	.story-section .story-timeline > .row > .col:first-child {
	  padding: 0 45px 0 70px;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline > .row > .col:first-child {
	  padding: 0 15px;
	}
  }
  
  @media (max-width: 1199px) {
	.story-section .story-timeline > .row > .col:last-child {
	  padding: 0 70px 0 45px;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline > .row > .col:last-child {
	  padding: 0 15px;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline .story-text {
	  background: rgba(94, 154, 142, 0.05);
	  padding: 35px 25px;
	}
  }
  
  @media screen and (min-width: 992px) {
	.story-section .story-timeline .right-align-text {
	  text-align: right;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline .text-holder {
	  border: 0;
	  padding-top: 0 !important;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline .text-holder .heart {
	  display: none;
	}
  }
  
  @media (max-width: 991px) {
	.story-section .story-timeline h3 {
	  font-size: 20px;
	  font-size: 1.11111rem;
	}
  }
  
  @media (max-width: 767px) {
	.story-section .story-timeline h3 {
	  font-size: 18px;
	  font-size: 1rem;
	}
  }
