<!DOCTYPE html>
<html>
<head>
	<script src="../../lib/jquery/jquery-v3.4.0.js"></script>
	<style>
		.ndm-modal {
			overflow: scroll;
			position: fixed;
			display: grid;
			grid-template-columns: 100%;
			grid-template-rows: 100%;

			width: 100%;
    		height: 100%;

			opacity: 0;
			transition: all .4s;
		}

		.ndm-modal-content {
			place-self: center;
			padding: 2px;
			border: 3px solid lightgray;
			display: block;
		}

		img {
		}
	</style>
</head>
<body>

	<button id="modal-thumbnail-opener">Show modal</button>
	<div id="modal-thumbnail" class="ndm-modal">
		<div class="ndm-modal-content">
			<h1>Hello center</h1>
			<img src="https://nadam.blob.core.windows.net/wedding/preparation/thumbnails/IMG_6560.JPG">
		</div>
	</div>
	

	<button id="modal-real-opener">Show modal</button>
	<div id="modal-real" class="ndm-modal">
		<div class="ndm-modal-content">
			<h1>Hello center other image</h1>
			<img src="https://nadam.blob.core.windows.net/wedding/preparation/viewimages/IMG_6560.JPG">
			<h1>Hello center other image</h1>
		</div>
	</div>

	<script>
		$("#modal-thumbnail-opener").click(() => {

			$("#modal-thumbnail").css({
				"opacity": "1"
			});
		});

		$("#modal-real-opener").click(() => {
			$("#modal-real").css({
				"opacity": "1"
			});
		});

	</script>
</body>
</html>