side-page {
	transition: right 0.4s;
	position: fixed;
	height: 100%;
	width: 720px;
	top: 0;
	background-color: rgba(10,100,150, 0.8);
}

side-page .side-page-opener {
	background-color: rgba(30,200,150, 0.8);
	height: 100%;
}