<mat-toolbar color="primary">
	<mat-toolbar-row *ngIf="!isAuthenticated">
		<mat-form-field class="example-full-width">
				<input #email matInput value="cement.elek@gmail.com">
			</mat-form-field>
		
			<mat-form-field class="example-full-width">
				<input #password matInput value="minad123" (keyup.enter)="onEnter(email.value, password.value)">
			</mat-form-field>
			
			<button mat-button (click)="onLoginClick(email.value, password.value)">Login</button>			
	</mat-toolbar-row>
		
	<mat-toolbar-row *ngIf="isAuthenticated">
		Szia
		{{account.FirstName}} &nbsp; {{account.LastName}}
	</mat-toolbar-row>
</mat-toolbar>
