<div class="container">
    <tab-control>
        <tab tabTitle="Foo">
            Nam gravida mollis pulvinar. Vestibulum et quam magna. Aenean malesuada eros in magna dignissim feugiat. Mauris non turpis ultrices, gravida purus non, vulputate nisl. Phasellus ac sapien et dolor fermentum vulputate. Donec dignissim velit nec ultricies
            congue. Maecenas a consectetur mi, quis vestibulum urna. Integer ut fringilla ligula, sed faucibus dolor. Pellentesque eu eros a dolor porttitor efficitur at eget dui. Vestibulum orci nunc, ullamcorper a felis tempus, euismod lacinia nisi.
            Fusce cursus sit amet tortor at ultricies. Praesent ultricies magna at nulla faucibus lobortis.
        </tab>
        <tab tabTitle="Bar">
            Nam rutrum quis libero sed pellentesque. Vestibulum sed risus ligula. Praesent quis tempus urna. Duis massa odio, imperdiet et nisl ut, porta auctor turpis. Aenean elementum nec lacus a commodo. In hac habitasse platea dictumst. Sed aliquam sem at justo
            finibus egestas.
        </tab>
    </tab-control>
</div>