.component-host {
  border: 1px solid green;

  .content {
    border: 1px solid red;
    // padding: 15px;

    .title {
      height: 80px;
    }

    .column {
      width: 30%;
      overflow-y: scroll;
      border: 1px solid blue;
      height: 0;
    }
  }
}
