.component-host {
  border: 1px solid green;
  height: 0;

  .content {
    border: 1px solid red;
    // padding: 15px;

    // For h1, tags need to change the margin to padding to work with auto-height
    // otherwise the height is not calculated correctly
    h1 {
      margin: 0;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .column {
      width: 30%;
      overflow-y: scroll;
      border: 1px solid blue;
      height: 0;
    }
  }
}

.title {
  height: 80px;
  // need to figure out how to handle padding and margin
  padding-top: 15px;
  padding-bottom: 15px;
}
