.nadam-dropdown-widget {
    width: 200px;
    height: 230px;
    display: inline-block;
    height: 250px;
    background-image: linear-gradient(to bottom, #2980b9, #3498db);
    margin: 10px;
    border-radius: 10px;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
}

.nadam-dropdown-button {
    background: #3498db;
    background-image: linear-gradient(to bottom, rgb(10, 10, 200), rgb(100, 60, 200));
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    cursor: default;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 7px;
    position: absolute;
    bottom: 0;
}

    .nadam-dropdown-button:hover {
        background-image: linear-gradient(to bottom, #2980b9, #3498db);
        border: 1px solid rgb(0,0,92);
    }

.nadam-dropdown-button span {
    color: #ffffff;
    float: right;
}

.nadam-dropdown-menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;

    max-width: 40%;
    height: auto;
    width: auto;
    
    background: rgba(200, 20, 200, 0.4);
    background-color: rgba(200, 200, 200, 0.8);


    box-shadow: inset 0px 0px 104px 3px #00005c;
    box-shadow: inset 0px 0px 104px 3px rgba(0,0,92,0.75);

    box-shadow: 0px 0px 104px 3px #00005c;
    box-shadow: 0px 0px 104px 3px rgba(0,0,92,0.75);

    border-radius: 10px;
    z-index: 10;
}

.focus-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #646464;
    background-color: rgba(100, 100, 100, 0.8);
    z-index: 9;
}

.option-image {
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.4s;
}

.dropdow-selection {
    height: auto;
    border-radius: inherit;
}

.dropdow-selection img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    vertical-align: sub;
    border-radius: 10px 10px 0px 0px;
}

.option-image:hover {
    border: 1px solid red;
    box-shadow: 0px 0px 104px 3px #00005c;
    box-shadow: 0px 0px 104px 3px rgba(0,0,92,1);
}
