@using Framework_ScraperDemo.Models
@model ScraperEchoViewModel


<section id="page-1" url=@Model.Url>
    @Html.Raw(@Model.HtmlString)
</section>

<script>

    var scraperUrl = "/";

    function Navigate(url) {
        console.log(url);
    }
</script>
