<slider>
	<slide title="valami"></slide>
	<slide *ngFor="let slide of slides" title="{{slide}}">
		halika
	</slide>


    <!-- <slide class="slide" title="Other" >
		<div class="container page-content"> 
		    <h4>Page description</h4>
		    <p>This HTML app contains slider page layout not vertical scriolling style. Yout can find the pager button alongside the page left and right side.</p>
            <div style="height: 1000px;"></div>
		</div>
        <div class="side-layer">
            <div class="vcenter">
                <div class="hcenter text-right">
                    <h3>Knoll & Walters Ltd.</h3>
                    <p>The world leading innovator corp.</p>
                </div>
            </div>
        </div>
        <div class="info"><h5>Page 1</h5></div>
    </slide>
	
    <slide class="slide" title="Table view">
		<div class="container page-content"> 
			<h4>This is page 2 content area</h4>
			<p>This page's content are also takes the full width 65% only, like in the 1st. page. This can be 100% of course</p>
			<p>This page contains a side menu bar</p>
		</div>
        <div class="side-layer">
            <div class="vcenter">
                <div class="hcenter text-right">
                    <h3>Knoll & Walters Ltd.</h3>
                    <p>The world leading innovator corp.</p>
                </div>
            </div>
        </div>
        <div class="info"><h5>Page 2</h5>
        </div>
    </slide>

    <slide class="slide" title="List view">
        <div class="page-content-wide">
            <div class="dcms-board">
                <table class="table" id="dcms-table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="container">
                <button class="menu-button">Previous</button>
                <button class="menu-button">Next</button>
            </div>

        </div>
        <div class="side-layer hideable-menu">
            MENU
        </div>

        <div class="info"><h5>Page 3</h5>
        </div>
    </slide>
    
    <slide class="slide" title="Home">
        <div class="container page-content">
        </div>
        <div class="info">
            <h5>Page 4</h5>
        </div>
    </slide> -->
</slider>